:80 {
    root * /srv

    handle /api/system/event-catalog/health {
        rewrite * /health
        reverse_proxy event-cat-service:3001
    }

    handle /api/system/purchase/health {
        rewrite * /health
        reverse_proxy purchase-service:3001
    }

    handle /api/system/payment/health {
        rewrite * /health
        reverse_proxy payment-service:3001
    }

    handle /api/system/refund/health {
        rewrite * /health
        reverse_proxy refund-service:3001
    }

    handle /api/system/analytics/health {
        rewrite * /health
        reverse_proxy analytics-worker:3001
    }

    handle /api/system/fraud/health {
        rewrite * /health
        reverse_proxy fraud-worker:3008
    }

    handle /api/system/notification-service/health {
        rewrite * /health
        reverse_proxy notification-service:3001
    }

    handle /api/system/notification-worker/health {
        rewrite * /health
        reverse_proxy notification-worker:3001
    }

    handle /api/system/waitlist/health {
        rewrite * /health
        reverse_proxy waitlist-worker:3000
    }

    handle /api/events* {
        uri strip_prefix /api
        reverse_proxy event-cat-service:3001
    }

    handle /api/purchases* {
        uri strip_prefix /api
        reverse_proxy purchase-service:3001
    }

    handle =/ {
        rewrite * /user/index.html
        file_server
    }

    file_server
}
