:80 {
    root * /srv
    file_server

    handle /api/events* {
        uri strip_prefix /api
        reverse_proxy event-cat-service:3001
    }

    handle /api/purchases* {
        uri strip_prefix /api
        reverse_proxy purchase-service:3001
    }
}
